$family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$screen-small: 768px;
$screen-small-main: 750px;
$screen-middle: 992px;
$screen-middle-main: 920px;

$header-li-font-size: 18px;
$header-h1: 72px;
$header-h2: 20px;

$strong-font-color: #e75b3c; //e2c672 008080 e75b3c